
Getaway Taxi/Library/

Getaway Taxi/Logs/

Getaway Taxi/UserSettings/

Getaway Taxi/Temp/

Getaway Taxi/Assets/Oculus/

Taxi0.1_BackUpThisFolder_ButDontShipItWithYourGame/

Taxi0.1_BurstDebugInformation_DoNotShip/

Getaway Taxi/Assembly-CSharp.csproj
